<h1>Welcome to APPNAME</h1>

<a href="../test-repository/test.component.ts">Basic Navigation</a>

<div>Please feel free to build and design your application the way that you want it to operate</div>

<div>Make use of custom imported libraries such as: </div>

<ul>
    <li>mka-grid</li>
    <li>mka-buttons</li>
    <li>mka-navigators</li>
    <li>mka-lists</li>
    <li>mka-checkbox</li>
    <li>mka-forms</li>
    <li>mka-panels</li>
</ul>

<div>There is probably still alot of libraries that need to be added to the project..... (31 May 2021)</div>